<!doctype html>
<html lang="us">
<head>
    <link rel="shortcut icon" href="img/favicon.ico">

	<meta charset="utf-8">
	<title>VCF-Miner</title>

    <link rel="stylesheet" type="text/css" href="jquery.layout-1.3.0/css/layout-default-latest.css">
    <link rel="stylesheet" type="text/css" href="jquery.layout-1.3.0/css/complex.css">
    <link rel="stylesheet" type="text/css" href="jquery.kiketable.colsizable-1.1/jquery.kiketable.colsizable.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-2.3.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="DataTables-1.9.4/media/css/DT_bootstrap.css">
    <link rel="stylesheet" href="chosen-0.10.0/chosen.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-modal-2.1/css/bootstrap-modal.css">
    <link rel="stylesheet" type="text/css" href="Acquisio-bootstrap-dropdown-checkbox-5f2ad8d/css/bootstrap-dropdown-checkbox.css">

    <!-- workaround for navbar overlapping site by 40 pixels -->
    <style>
        body { padding-top: 40px; }

        body .wide-modal {
            /* new custom width */
            width: 1024px;
            /* must be half of the width, minus scrollbar on the left (30px) */
            margin-left: -512px;
        }

        body .modal-256wide {
            /* new custom width */
            width: 256px;
            /* must be half of the width, minus scrollbar on the left (30px) */
            margin-left: -128px;
        }

        body .modal-350wide {
            /* new custom width */
            width: 350px;
            /* must be half of the width, minus scrollbar on the left (30px) */
            margin-left: -175px;
        }

        body .modal-800wide {
            /* new custom width */
            width: 800px;
            /* must be half of the width, minus scrollbar on the left (30px) */
            margin-left: -400px;
        }

        body .modal-600wide {
            /* new custom width */
            width: 600px;
            /* must be half of the width, minus scrollbar on the left (30px) */
            margin-left: -300px;
        }

        /* override jquery layout */
        .ui-layout-west{
            z-index: 50 !important;
            overflow: auto !important;
        }

        .selectwidth100Percent
        {
            width:100% !important;
        }

        #watermark{
            background-image: url(img/vcf-miner.png);
            background-repeat:no-repeat;
            width: 535px;
            height: 600px;
        }
    </style>

    <!-- underscorejs templates -->
    <script id="searched-filter-template" type="text/template">
        <span class="label"><td><%=name%></td></span>
        <span class="label"><td><%=displayOperator%></td></span>
        <span id="<%=id%>_display_value_label" class="label"><td><%=displayValue%></td></span>
        <td><span class="badge badge-info" id="<%=id%>_num_matches_label"><%=numMatches%></span></td>
        <td><button id="<%=id%>_remove_button" title="Remove filter from your search" type="button" class="btn btn-mini" onclick="removeFilter('<%=id%>')"><i class="icon-remove"></i></button></td>
    </script>

    <script id="workspaces-template" type="text/template">
        <span class="label"><td><%=alias%></td></span>
        <span class="label"><td><%=displayStatus%></td></span>
        <span class="label"><td style="white-space:nowrap;"><%=date%></td></span>
        <td style="white-space:nowrap;">
            <% if (displayStatus == 'Available') { %>
            <button id="<%=id%>_load_button" title="Load" type="button" class="btn btn-mini"><i class="icon-play"></i></button>
            <% } %>
            <% if ((displayStatus == 'Available') || (displayStatus == 'Failed')) { %>
            <button id="<%=id%>_delete_button" title="Delete" type="button" class="btn btn-mini"><i class="icon-remove"></i></button>
            <% } %>
        </td>
    </script>
    <script id="config-variant-table-col-template" type="text/template">
        <tr id='<%=id%>_col_row' type='data_row'>
            <td><input data-col-id='<%=id%>' class="input-mini toggle-visibility" type="checkbox" checked="true"/></td>
            <span class="label"><td><%=displayName%></td></span>
            <span class="label"><td><%=description%></td></span>
        </tr>
    </script>

    <script id="info-message-template" type="text/template">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=message%>
        </div>
    </script>
    <script id="warning-message-template" type="text/template">
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            <%=message%>
        </div>
    </script>
    <script id="warning-popover-template" type="text/template">
        <div class="alert alert-block">
            <h4>Warning!</h4>
            <%=message%>
        </div>
    </script>
    <script id="error-message-template" type="text/template">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error</h4>
            <%=message%>
        </div>
    </script>

    <script src="jquery-1.10.1/jquery-1.10.1.js"></script>
    <script src="jquery-ui-1.10.3/ui/jquery-ui.js"></script>
    <script src="jquery.layout-1.3.0/jquery.layout-latest.js"></script>
    <script src="jquery-validation-1.11.1/jquery.validate.js"></script>
    <script src="jquery-validation-1.11.1/additional-methods.js"></script>
    <script src="bootstrap-2.3.2/js/bootstrap.js"></script>
    <script src="DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script src="DataTables-1.9.4/media/js/DT_bootstrap.js"></script>
    <script src="DataTables-ColReorderWithResize-1.0.7/ColReorderWithResize.js"></script>
    <script src="underscore-1.4.4/underscore.js"></script>
    <script src="backbone-1.0.0/backbone.js"></script>
    <script src="backbone.localStorage-1.1.5/backbone.localStorage-min.js"></script>
    <script src="bootstrap-modal-2.1/js/bootstrap-modalmanager.js"></script>
    <script src="bootstrap-modal-2.1/js/bootstrap-modal.js"></script>
    <script src="bootstrap-filestyle-1.0.3/js/bootstrap-filestyle.min.js"></script>
    <script src="moment-2.4.0/moment.min.js"></script>
    <script type="text/javascript" src="Acquisio-bootstrap-dropdown-checkbox-5f2ad8d/js/bootstrap-dropdown-checkbox.js"></script>

    <script src="js/views/SearchedView.js" type="text/javascript"></script>

    <script src="js/models/Workspace.js" type="text/javascript"></script>
    <script src="js/collections/WorkspaceList.js" type="text/javascript"></script>
    <script src="js/WorkspaceController.js" type="text/javascript"></script>

    <script src="js/models/Filter.js" type="text/javascript"></script>
    <script src="js/collections/FilterList.js" type="text/javascript"></script>

    <script src="js/models/SampleGroup.js" type="text/javascript"></script>
    <script src="js/collections/SampleGroupList.js" type="text/javascript"></script>
    <script src="js/CreateGroupDialog.js" type="text/javascript"></script>
    <script src="js/GroupFilterTab.js" type="text/javascript"></script>


    <script src="js/SampleFilterTab.js" type="text/javascript"></script>
    <script src="js/GeneFilterTab.js" type="text/javascript"></script>
    <script src="js/InfoFilterTab.js" type="text/javascript"></script>

    <script src="js/AddFilterDialog.js" type="text/javascript"></script>

    <script src="js/models/VariantTableColumn.js" type="text/javascript"></script>
    <script src="js/models/VariantTableRow.js" type="text/javascript"></script>
    <script src="js/collections/VariantTableColumnList.js" type="text/javascript"></script>
    <script src="js/collections/VariantTableRowList.js" type="text/javascript"></script>
    <script src="js/views/VariantTableConfigColumnsView.js" type="text/javascript"></script>
    <script src="js/views/VariantTableColumnView.js" type="text/javascript"></script>
    <script src="js/views/VariantTableDataView.js" type="text/javascript"></script>

    <script src="js/splitter_layout.js" type="text/javascript"></script>
    <script src="js/mongo_util.js" type="text/javascript"></script>
    <script src="js/mongo_view.js" type="text/javascript"></script>
    <script src="js/customized-bootstrap-dropdown-checkbox.js" type="text/javascript"></script>
</head>



<body>

<!-- Table Toolbar -->
<div id="table_toolbar" class="btn-group hide">
    <button class="btn" title="Show/Hide Table Columns" id="columns_button"><i class="icon-list-alt"></i> Columns</button>
    <button class="btn" title="Export Table as Tab-Delimited file" id="export_button"><i class="icon-download"></i> Export</button>
</div>

<!-- Modal -->
<div id="columns_modal" class="modal hide fade wide-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Customize Columns</h3>
    </div>
    <div class="modal-body">
        <div class="pre-scrollable">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="config_columns_table"></table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="column_dialog_close">Close</button>
    </div>
</div>

<!-- Modal -->
<div id="add_workspace_modal" class="modal modal-350wide hide fade" tabindex="-1" role="dialog"aria-hidden="true">
    <div class="modal-header">
        <h3>Import VCF File</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <p>Import the following VCF file:</p>
                    <div class="input-append">
                        <input id="vcf_file_upload" type="file" class="filestyle"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" aria-hidden="true" id="import_workspace_button">Import</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<!-- Modal -->
<div id="upload_vcf_progress_modal" class="modal modal-350wide hide fade" tabindex="-1" role="dialog" aria-labelledby="select_vcf_label" aria-hidden="true">
    <div class="modal-header">
        <h3 id="select_vcf_label">Upload Status</h3>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div id="progress" class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="add_filter_modal" class="modal modal-800wide hide fade" tabindex="-1" role="dialog" aria-labelledby="add_filter_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add_filter_label">Add Filter</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row-fluid"> <!-- tabs -->
                <div class="span12">
                    <ul class="nav nav-tabs" id="add_filter_tabs">
                        <li class="active"><a href="#tab_content_sample">Sample</a></li>
                        <li><a href="#tab_content_gene">Gene</a></li>
                        <li><a href="#tab_content_group">Group</a></li>
                        <li><a href="#tab_content_info">Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid"> <!-- tab content pane -->
                <div class="span12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_content_sample"> <!-- SAMPLE tab -->
                            <form id="sample_tab_form" action="">
                                <div class="container-fluid" id="pallet_view">
                                    <div class="row-fluid"> <!-- header row -->
                                        <div class="span4"><h4>Filter</h4></div>
                                        <div class="span8"><h4>Value</h4></div>
                                    </div>
                                    <div class="row-fluid"> <!-- divider -->
                                        <div class="span12"><hr></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <select class="span12" id="sample_field_list">
                                                <!-- Dynamically added by javascript -->
                                            </select>
                                        </div>
                                        <div class="span8" id="sample_value_div">
                                            <!-- Dynamically added by javascript -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_content_gene"> <!-- GENE tab -->
                            <form id="gene_tab_form" action="">
                                <div class="container-fluid">
                                    <div class="row-fluid"> <!-- header row -->
                                        <div class="span2"><h4>Filter</h4></div>
                                        <div class="span10"><h4>Value</h4></div>
                                    </div>
                                    <div class="row-fluid"> <!-- divider -->
                                        <div class="span12"><hr></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span2">Gene</div>
                                        <div class="span10">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <input id="gene_typeahead" type="text" data-provide="typeahead" autocomplete="off" placeholder="<Enter Gene Name>">
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <select id="gene_list" name="gene_list" size="10" multiple="multiple"></select>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <button id="reset_gene_list" title="Remove all rows">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_content_group"> <!-- GROUP tab -->
                            <form id="group_tab_form" action="">
                                <div class="container-fluid">
                                    <div class="row-fluid"> <!-- header row -->
                                        <div class="span3"><h4>Filter</h4></div>
                                        <div class="span2"></div>
                                        <div class="span5"><h4>Value</h4></div>
                                        <div class="span2"></div>
                                    </div>
                                    <div class="row-fluid"> <!-- divider -->
                                        <div class="span12"><hr></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span3">Variant Samples</div>
                                        <div class="span2">
                                            <select class="span12" id="group_operator_list">
                                                <option value='IN'>IN</option>
                                                <option value='NOT_IN'>NOT IN</option>
                                            </select>
                                        </div>
                                        <div class="span5">
                                            <div class="row-fluid" id="group_value_div">
                                                <select id="group_list" name="group_list" class="selectwidth100Percent"></select>
                                            </div>
                                            <div class="row-fluid" id="group_sample_count"></div>
                                            <div class="row-fluid" id="group_sample_names_list"></div>
                                        </div>
                                        <div class="span2 pull-left">
                                            <button id="new_group_button" title="Create a new group" type="button" class="btn"><i class="icon-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab_content_info"> <!-- info tab -->
                            <form id="info_tab_form" action="">
                                <div class="container-fluid" id="info_filter_table">
                                    <div class="row-fluid"> <!-- header row -->
                                        <div class="span4"><h4>Filter</h4></div>
                                        <div class="span2"></div>
                                        <div class="span6"><h4>Value</h4></div>
                                    </div>
                                    <div class="row-fluid"> <!-- divider -->
                                        <div class="span12"><hr></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <select class="span12" id="info_field_list">
                                                <!-- Dynamically added by javascript -->
                                            </select>
                                        </div>
                                        <div class="span2">
                                            <select class="span12" id="info_operator_list">
                                                <!-- Dynamically added by javascript -->
                                            </select>
                                        </div>
                                        <div class="span6" id="info_value_div">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" aria-hidden="true" id="add_filter">Add</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true" id="add_filter_close">Cancel</button>
    </div>
</div>

<!-- Modal -->
<div id="create_group_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="select_vcf_label" aria-hidden="true">
    <form id="create_group_form" action="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Create Group</h3>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row-fluid control-group">
                    <div class="span3">Group Name:</div>
                    <div class="span9"><input id="group_name_field" name="group_name_field" type="text"></div>
                </div>
                <div class="row-fluid"> <!-- divider -->
                    <div class="span12"><hr></div>
                </div>
                <div class="row-fluid">
                    <div class="span5"> <!-- available samples column -->
                        <div class="row-fluid">
                            <div class="span12">
                                Available Samples
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <select id="available_samples_list" size="15" multiple="multiple" class="span12"></select>
                            </div>
                        </div>
                    </div>
                    <div class="span2"> <!-- button column -->
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span12"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <button type="button" class="btn" id="add_sample_to_group_button"><i class="icon-chevron-right"></i></button>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <button type="button" class="btn" id="remove_sample_from_group_button"><i class="icon-chevron-left"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span5"> <!-- group samples column -->
                        <div class="row-fluid">
                            <div class="span12">
                                Group Samples
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <select id="group_samples_list" size="15" multiple="multiple" class="span12"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" aria-hidden="true" id="new_group_apply">Create</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </form>
</div>

<!-- GETTING STARTED -->
<div id="welcome_pane" class="hide">
    <div class="row">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    <table>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <h1>Welcome!</h1>
                                    <h3>Get started by loading a VCF File with the <button type="button" class="btn btn-mini"><i class="icon-play"></i></button>  button.</h3>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <ul id="workspaces_pane" class="nav nav-list">
                                        <div class="nav-header text-left"><h4>VCF Files</h4></div>
                                        <div id="workspaces_view">
                                            <table class="table" id="workspaces_table">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Status</th>
                                                    <th>Date</th>
                                                    <th></th>
                                                </tr>
                                                <tr id="add_workspace_row">
                                                    <td><button title="Import a new VCF File into the system" class="btn btn-primary" onclick="$('#add_workspace_modal').modal();">Import VCF File</button></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div id=watermark></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="browser_not_supported_pane" class="hide">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8 text-center">
            <h1>Browser not supported</h1>
        </div>
        <div class="span2"></div>
    </div>
    <div class="row-fluid">
        <div class="span3"></div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <p>Internet Explorer is not supported.  Please use one of the following alternatives:</p>
            <ul>
                <li><a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a></li>
                <li><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></li>
            </ul>
        </div>
        <div class="span4"></div>
    </div>
</div>

<div id="getting_started">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <img class="pull-left" src="img/miner_only.png" style="height: 60px; width: 75px;">
            <a class="brand" href="#">VCF-Miner</a>
        </div>
    </div>

    <!-- placeholder-->
    <div id="getting_started_content" class="hero-unit"></div>
</div>

<!-- JQUERY-UI Layout -->
<div id="jquery-ui-container" style="zoom: 1; overflow: hidden; width: auto; height: auto; margin: 0px; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; cursor: auto; " class="ui-layout-container hide">
    <!-- NORTH -->
    <div class="ui-layout-north ui-layout-pane ui-layout-pane-north" onmouseover="myLayout.allowOverflow('north')" onmouseout="myLayout.resetOverflow(this)" style="position: absolute; margin: 0px; top: 0px; bottom: auto; left: 0px; right: 0px; width: auto; z-index: 0; height: 66px; display: block; visibility: visible; overflow: auto; ">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <img class="pull-left" src="img/miner_only.png" style="height: 60px; width: 75px;">
                    <a class="brand" href="#">VCF-Miner</a>
                    <ul class="nav pull-right">
                        <li id="vcf_file" class="navbar-text"></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- WEST -->
    <div class="ui-layout-west pane pane-west" style="position: absolute; margin: 0px; left: 0px; right: auto; top: 95px; bottom: 0px; height: 458px; z-index: 0; width: 346px; display: block; visibility: visible; ">

        <span id="west-closer" class="button-close button-close-west" title="Close West Pane"></span>

        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <div class="nav-header"><h4>You Searched For</h4></div>
                <div id="searched_view">
                    <table class="table" id="searched_table">
                        <tr>
                            <th colspan="3">Filter</th>
                            <th>Variants</th>
                            <th></th>
                        </tr>
                        <tr id="add_filter_row">
                            <td colspan="3"><button title="Add filter to your search" class="btn btn-primary" id="show_add_filter_dialog_button">Add Filter</button></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </ul>
        </div>

        <div id="workspaces_placeholder" class="well sidebar-nav"></div>
    </div>

    <!-- CENTER -->
    <div class="pane ui-layout-center ui-layout-pane ui-layout-pane-center">

        <div id="variant_table_div" style="padding-left: 35px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;"></div>

    </div>
</div>

</body>
</html>
